<section class="text-center">

    
        <div class="jumbotron">
          <div class="row">
          <h1>Welcome to Trendr!</h1>
          <div class="col-md-2 text-center"></div>
          <div class="col-md-8 text-center">
            <p>{{message}}</p>
          </div>
          <div class="col-md-2 text-center"></div>
          </p>
          </div>
        </div>
</section>

<section class="success text-center" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Charts</h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-area-chart fa-5x"></i>
                <h4>City Trends Over Time</h4>
                <p>Illuminating analysis on trending hashtags by city/hour.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-bar-chart fa-5x"></i>
                <h4>Top Trends by City</h4>
                <p>View the most recent top hashtags for popular cities.</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-flag fa-5x"></i>
                <h4>State Trends</h4>
                <p>Representation of all the top trends by state, Mate.</p>
            </div>
        </div>
    </div>
</section>


<section class="contact text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact Us</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1">name</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                </div>
                <br>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1">email</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                </div>
                <br>
                <div class="input-group input-group-md">
                    <span class="input-group-addon" id="sizing-addon1">message</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
                </div>

            </div>
        </div>
    </div>
</section>

