<section class="text-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="page-header">
              <h1>Welcome to Trendr</h1>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div>{{message}}</div>
        <div>
    </div>
</section>

<section class="success text-center" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Our Charts</h1>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-area-chart fa-5x"></i>
                <p>blah blah blah blah</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-bar-chart fa-5x"></i>
                <p>blah blah blah blah</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-heartbeat fa-5x"></i>
                <p>blah blah blah blah</p>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>About</h2>
            <div>{{message}}</div>
        </div>
    </div>
</section>

<section class="contact text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Charts</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <i class="fa fa-area-chart fa-5x"></i>
                <p>blah blah blah blah</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-bar-chart fa-5x"></i>
                <p>blah blah blah blah</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-heartbeat fa-5x"></i>
                <p>blah blah blah blah</p>
            </div>
        </div>
    </div>
</section>

