<!-- <button ng-click='getStuff()'>POPULATE DB FROM trends/place</button> -->
<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"> Trending hashtags in popular cities</h1>
    </div>
  </div>
            
  <div class="row">


	<div class="dropdown">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	    Available Cities
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	    <li><a ng-click='getSanFrancisco()'>San Francisco Trends</a></li>
			<li><a ng-click='getChicago()'>Chicago Trends</a></li>
			<li><a ng-click='getSanDiego()'>San Diego Trends</a></li>
			<li><a ng-click='getWashington()'>Washington Trends</a></li>
			<li><a ng-click='getSeattle()'>Seattle Trends</a></li>
			<li><a ng-click='getMiami()'>Miami Trends</a></li>
			<li><a ng-click='getNewYorkCity()'>New York City Trends</a></li>
			<li><a ng-click='getDenver()'>Denver Trends</a></li>
			<li><a ng-click='getPortland()'>Portland Trends</a></li>
			<li><a ng-click='getLasVegas()'>Las Vegas Trends</a></li>
			<li><a ng-click='getLosAngeles()'>Los Angeles Trends</a></li>
			<li><a ng-click='getSacramento()'>Sacramento Trends</a></li>
			<li><a ng-click='getPhoenix()'>Phoenix Trends</a></li>
	  </ul>
	</div>




	<div class="well well-lg">
		<div id="pieChart"></div>
	</div>

</div>