<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Top Trends by City</h1>

          <div class="col-lg-4">
           <div class="panel-body">
              <ui-select ng-model="state.selected" theme="bootstrap" ng-disabled="disabled" style="min-width: 100px;">
              <ui-select-match placeholder="Search available cities">{{$select.selected.name}}</ui-select-match>

              <ui-select-choices repeat="state in states | filter: {name: $select.search}">
              <div ng-bind-html="state.name | highlight: $select.search"></div>

              <small>
              <span ng-bind-html="''| highlight: $select.search"></span>
              </small>

              </ui-select-choices>
              </ui-select>
          </div>
          </div>

    </div>
</div>
            
<div class="row">

     <div class="col-lg-4">

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-twitter fa-fw"></i> Current Top Trends for {{state.selected.name}}
        </div>

        <div class="panel-body">
            <div class="row">
               <div id='spinner'></div>

                  <div class="list-group-item" ng-repeat="trend in trends">

                      <a ng-href="http://twitter.com/search?q={{trend.name | escape}}" target="_blank"> {{trend.name}} </a>

                      {{trend.tweet_volume}} tweets

                      <span class="pull-right text-muted small">

                        <button type="button" class="btn btn-info btn-xs" ng-click="addTrendDataToChart(trend,state.selected.name)">add</button>

                      </span>
                  </div>  
            </div>
        </div>
    </div> 
  </div>


    <div class="col-lg-8">

        <div ng-show="selectedTrends.length" class="ng-hide">

         <div class="row">
          <div class="col-lg-8">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <i class="fa fa-check-square fa-fw"></i> Selected Trends
                  </div>
                  <div class="panel-body">
                      <div class="list-group">
                        <div class="list-group-item" ng-repeat="trend in selectedTrends">
                              <i class="fa fa-fw"></i> {{trend.name}} 
                              <span class="pull-right text-muted small">
                                <button type="button" class="btn btn-danger btn-xs" ng-click="removeTrend(trend)">remove</button>
                              </span>
                        </div> 
                      </div>                           
                  </div>
              </div>
          </div>
        </div>

        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Dynamic Stacked Area Chart
            </div>
            <div class="panel-body">
              <nvd3 options="options" data="data" config="{deepWatchDataDepth: 1}"></nvd3>
            </div>
        </div>

  </div>

</div>